
html, body {
  background-color: #761fa1;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  color: white;
  font-family: Quicksand;
  text-align: center;
  position: relative;
  margin: 20px;
}

.container h1 {
  margin: 0;
  font-size: 22px;
}

.container p {
  color: white;
  font-size: 50px;
  font-family: Luckiest Guy;
  text-align: center;
  position: relative;
}

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 10px;
  font-family: Quicksand;
  letter-spacing: 1.5px;
  color: #ffffff;
  font-size: 16px;
  background: #761fa1;
  padding: 5px 10px 5px 10px;
  border: solid #ffffff 1px;
  text-decoration: none;
}

button:hover {
  background: white;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.icons {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  margin-bottom: 10px;
}
